[submodule "lib/tinygltf"]
	path = lib/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "res/Vulkan-Samples-Assets"]
	path = res/Vulkan-Samples-Assets
	url = https://github.com/KhronosGroup/Vulkan-Samples-Assets
